{{#each model as |item|}}
    {{#if item.isCompleted}}
        <div id="todo-list">
            <li>
                {{#todo-comp item=item onItemClicked='editNow' onDeleteItem='removeItem' onCompleteItem='completeItem'}}{{/todo-comp}}
            </li>
        </div>
    {{/if}}
{{/each}}



{{outlet}}